body {
  background-color: #ada092;
}

@font-face {
  font-family: 'Classica Two';
  src:
    url('/fonts/ClassicaTwo.woff2') format('woff2'),
    url('/fonts/ClassicaTwo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  /* height: 5240px; */
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: -0.4%;
  width: 113vw;
  height: auto;
  object-fit: contain;
  z-index: -1;
}

.title {
  font-family: 'Classica Two', serif;
  font-size: 48px;
  line-height: 180%;
  color: #fffdfb;
}

.mainTitle-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  margin-left: 20px;
}

.secondary {
  font-size: 28px;
  color: #353434;
}

.text {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 20px;
}

.intro {
  width: 340px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 60px auto;
  margin-top: 90px;
}

.intro-text {
  width: 318px;
}

.calendar {
  width: 100%;
  height: 330px;
  margin: 60px auto;
}

.place {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.place-text{
  display: flex;
  align-items: center;
  gap: '12px';
}

.place-description{
  width: 340px;
  text-align: center;
  margin: 0 auto;
}

.map {
  width: 100%;
}
