body{
  background-color: #ADA092;
}

.container{
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 5240px;
  overflow: hidden;
}

.bg{
  position: absolute;
  top: 0;
  left: -0.4%;
  width: 111vw;
  height: auto;
  object-fit: contain;
  z-index: -1;
}